* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  background: linear-gradient(to left, #0f0c29, #302b63, #24243e);
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

#game {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  height: 100vh;
  background-color: #0009;
}
@media screen and (min-width: 600px) {
  #game {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  }
}

#screen {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  user-select: none;
  width: 100%;
  max-width: 600px;
}

#startScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #0009;
  backdrop-filter: blur(4px);
  z-index: 999;
  visibility: visible;
  color: whitesmoke;
}

#startBtn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 999px;
  background: linear-gradient(to left, #0f0c29, #302b63, #24243e);
  color: white;
  font-size: 1.25rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 4px;
  cursor: pointer;
}

#hud {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  user-select: none;
}
.hud-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-block: 0.25rem;
}
.hud-item strong {
  font-size: 1.125rem;
  font-weight: 900;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#pauseScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #0009;
  backdrop-filter: blur(8px);
  z-index: 10;
  visibility: hidden;
  color: whitesmoke;
  gap: 1rem;
}

#pauseScreen h1 {
  /* Paused text */
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
  font-size: clamp(2rem, 6vw, 3rem);
}
#pauseScreen p {
  /* Resume text */
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  text-align: center;
  font-size: clamp(0.5rem, 3vw, 1rem);
}

#canvas {
  display: flex;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  user-select: none;
  cursor: none;
  background-image: url("./assets/bg/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  user-select: none;
  padding-block: 1rem;
}
#controls button {
  padding: 0.25rem 1rem;
  border: none;
  border-radius: 999rem;
  background: linear-gradient(to left, #0f0c29, #302b63, #24243e);
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#controls button:active {
  transform: scale(0.9);
}
#controls #pause:active {
  transform: scale(1);
}
